@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.space {
    margin: 40px 0 40px;
}

.main-bg {
    background-image: url('../../assets/images/home/11645 1.png'); 
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px; /* Adjust height as needed */
    padding-top: 80px;
    position: relative; /* Ensure positioning context for absolutely positioned children */
}


.nav-bg {
    background: #FFFFFF;
    position: relative;
}

.logo {
    width: 45px;
}

.logo-name {
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 60px;
}

.nav-item .active {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 700;
    color: #FCA311;
}

.nav-link {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    margin: 10px 40px;
}

.home-box {
    position: absolute;
    top:25%;
    left: 12%;
    width: 40%;
    margin: 0 auto;
}

.get {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 500;
    color: #FCA311;
}

.Diamond {
    font-family: Cuprum;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}

.allthe {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    color: #D9D9D9;
    white-space: pre-line; 
    margin-bottom: 30px; 
}


.btn {
    width: 107px;
    height:37px;
    background-color: #FCA311;
}

.shop{
    color: #000000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
}

.main {
    overflow: visible;
}

.curve1 {
    position: absolute;
    top: 159%; 
    left: 0;
    width: calc(50% - -1px); 
    height: 910px;
    border-radius: 0px 100px 0px 0px;  
    background-color: #FFFFFF;  
}

.curve2 {
    position: absolute;
    top: 159%; 
    right: 0;
    width: calc(50% - -1px); 
    height: 910px;
    border-radius: 100px 0px 0px 0px;
    background-color: #FFFFFF;
}

.about-box {
    width: 80%;
    margin: 5% auto; 
    position: relative;
    margin-bottom: 20px;
}

.about {
    font-family: Cuprum;
    font-size: 42px;
    font-weight: 700;
    color: #31313B;
    text-align: center;
    overflow: visible; 
}

.about-img1 {
    width: 100%;
    border-radius: 0px 100px 0px 0px;
}

.about-img2 {
    width: 100%;
    border-radius: 100px 0px 0px 0px; 
}

.all {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #8D8D8D;
    white-space: pre-line;
}

.WorldFinest {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #8D8D8D;
    white-space: pre-line;
}


.our {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: pre-line;  
}

.jc {
    font-family: Cuprum;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #31313B;
    margin-top: 50%;
}

.from {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #8D8D8D;
    white-space:pre-line;
}

.jewellery {
    width: 100%;
    overflow: visible;
}

.con-box {
    width: 45%;
    margin: 0 auto;
    overflow: visible;
}

.black-box {
    width: 282px;
    height: 263px;
    background-color: #101010;
    padding: 20px;
    margin: 2px auto;
}

.contact {
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.design {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #8D8D8D;
    white-space: pre-line;
}

.contact-icons {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.number {
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.Support {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #EAEAEA;
}

.quick {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #EAEAEA;
    white-space: pre-line;
}


.footer-bg {
    background: #F5F5F5;
}

footer {
    padding: 3%;
}

.footer-name {
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
}

.footer-img {
    width: 91px;
    height: 42px;
}

.footer-main {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    color: #31313B;

}

.footer-main a{
    text-decoration: none;
}

.footer-icons {
    height: 24px;
    display: flex;
    column-gap: 10px;
}

.tech1,
.tech2 {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment-img {
    display: flex;
    height: 20px;
    color: #989898;
}

.tech2 {
    float: right;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .main-bg{
        width: 100%;
        padding-top: 10%;
    }
    .navbar{
        z-index: 1;
    }

    .nav-link{
        padding: 0px;
    }
    .main-bg {
        width: 100%;      
        background-size: cover; 
    }

    .navbar-brand{
        margin-left: -45px;
    }

    .navbar-toggler{
        margin: 15px;
    }

    .home-box{
        position: absolute;
        top: 15%;
        width: 70%;
    }

    .Diamond {
        font-size: 30px;
    }

    .allthe{
        font-size: 14px;
    }

    .about-img1,
    .about-img2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-box {
        width:100%;
    }

    .con-box {
        width:100%;
    }    

    .form {
        margin: 0px;
    }
    
    .gap{
        display: none;
    }

    .jc {
        margin-top: 5%;
        width: 100%;
    }

    .jewellery {
        width: 90%;
        overflow: hidden;
    }

    .black-box {
        padding: 5px;
        margin-bottom: 10px;
    }

    .footer-main {
        column-gap: 10px;
    }

    .footer-icons{
        column-gap: 10px;
        display: flex;
    }

    .footer-name{
        text-align: center;
    }
}

@media  (min-width:1024px) and (max-width: 1439px) {

    
    .home-box {
        top: 25%;
        left: 10%;
        width: 45%;
    }

    .Diamond {
        font-size: 48px; 
    }

    .WorldFinest {
        font-size: 14px; 
        margin: 0%;
        width: 101%;
    }

    .btn {
        width: 90px; 
        height: 32px; 
    }

    .shop {
        font-size: 14px; 
    }

    .curve1, .curve2{
    top: 279%;    
    }

    .about-box{
        margin: 5% auto;
    }

    .about-img1, .about-img2{
        width: 100%;
    }

    .con-box {
        width: 100%;
    }

    .bb {
        flex: 0 0 25%; 
        max-width: 24%; 
    }   

}

@media screen and (max-width: 1440px) {
    .curve1 {
        position: absolute;
        top: 279%;
        left: 0;
        width: calc(50% - -1px);
        height: 910px;
        border-radius: 0px 100px 0px 0px;
        background-color: #FFFFFF;
    }

    .curve2 {
        position: absolute;
        top: 279%;
        right: 0;
        width: calc(50% - -1px);
        height: 910px;
        border-radius: 100px 0px 0px 0px;
        background-color: #FFFFFF;
    }
}