<!---Navbar section start--->
<section>
    <div class="main-bg">
        <div class="container navbar-box">
            <nav class="navbar navbar-expand-lg nav-bg p-0">
                <a class="navbar-brand" href="/">
                    <p class="logo-name">
                        <img src="../../assets/images/logo.png" class="logo" alt="logo">
                        Glory
                    </p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div>
                <p class="get">GET SPECIAL PRICE THIS WEEK</p>
                <p class="Diamond">Diamond Jewellery Collection</p>
                <p class="allthe">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                    necessary, making this the first true generator on the Internet. It uses a dictionary of over
                    200 Latin words.</p>
                <button class="btn">
                    <p class="shop">ShopNow</p>
                </button>
            </div>
        </div>
    </div>


</section>
<!---Navbar section end--->

<!---About us section start--->
<section class="space curve" id="contact">
    <div class="container about-box">
        <p class="about">About Us</p>
        <p class="all">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
            making this the first true generator on the Internet. It uses a dictionary of over
            200 Latin words.
        </p>
    </div>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6">
                <img src="../../assets/images/about us/double rings.png" alt="double ring" class="about-img1">
            </div>

            <div class="col-lg-6">
                <img src="../../assets/images/about us/chain.png" alt="chain" class="about-img2">
            </div>
        </div>

        <p class="all mb-5">World Finest Jewellery offers an exquisite collection of meticulously crafted pieces that
            embody
            elegance and sophistication. Each item is designed with a commitment to quality and attention to detail,
            ensuring that every piece is a timeless addition to your collection. Whether you're looking for a dazzling
            diamond ring, a sophisticated necklace, or a pair of elegant earrings, our collection caters to those with
            the most discerning tastes.
        </p>

        <p class="our">Our artisans use only the finest materials, combining traditional craftsmanship with contemporary
            design to
            create jewellery that not only enhances your beauty but also tells a story of heritage and luxury.
        </p>
    </div>
</section>
<!---About us section end--->

<!---Jewellery Collection section start--->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 jewellery">
                <p class="jc">Jewellery Collection</p>
                <p class="from">From The Latest To This Season’s Greatest, Shop Our Thoughtfully Curated Collections.
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-lena-shekhovtsova-4019460 1.png"
                    class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-din-14882420 (1) 1.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-ayush-phillip-2732096 1.png"
                    class="jewellery">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-湉双-陈-2876035.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-karolina-grabowska-4959939.png"
                    class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-ron-lach-10120273.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/images/Jewellery Collection/pexels-cottonbro-studio-9421333.png"
                    class="jewellery">
            </div>
        </div>
    </div>
</section>
<!---Jewellery Collection section end--->

<!---Contact Us section start--->
<section class="space" id="contact">
    <div class="container con-box">
        <p class="contact">Contact Us</p>
        <p class="design">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a
            captivating
            tale- Rose, is one of India’s leading luxury jewellery brands.</p>
    </div>
</section>

<section class="space" id="contact">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 text-center black-box">
                <img src="../../assets/images/contact icons/phone-call (2).png" class="contact-icons" alt="phone">
                <p class="number">+91 7645486421</p>
                <p class="Support">Support team will be available from 9:00 AM till 7:00 PM</p>
                <p class="quick">Connect with our delight team over a quick phone call</p>
            </div>
            <div class="col-lg-3 text-center black-box">
                <img src="../../assets/images/contact icons/envelope (1).png" class="contact-icons" alt="envelope">
                <p class="number">novia@gmail.com</p>
                <p class="quick">Your question or feedback are always welcome at bluejewellery.com</p>
            </div>
            <div class="col-lg-3 text-center black-box">
                <img src="../../assets/images/contact icons/whatsapp.png" class="contact-icons" alt="whatsapp">
                <p class="number">Whatsapp Us</p>
                <p class="quick">Our 24x7 shopping assistant is a text away</p>
            </div>
            <div class="col-lg-3 text-center black-box">
                <img src="../../assets/images/contact icons/marker.png" class="contact-icons" alt="marker">
                <p class="number">Address</p>
                <p class="quick">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, Malad West, Mumbai
                    400064, India.</p>
            </div>
        </div>
    </div>
</section>
<!---Contact Us section end--->

<!---footer section start--->
<section>
    <footer class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2">
                    <p class="logo-name">
                        <img src="../../assets/images/logo.png" class="logo" alt="logo">
                        Glory
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 footer-main text-center">
                    <p>Home</p>
                    <p>Products</p>
                    <p>About Us</p>
                    <p>Contact Us</p>
                </div>
                <div class="col-lg-4 col-md-4 footer-icons justify-content-end">
                    <p class="footer-main">Follow Us: &nbsp;</p>
                    <img src="../../assets/images/footer icons/facebook.png" alt="facebook">
                    <img src="../../assets/images/footer icons/instagram.png" alt="instagram">
                    <img src="../../assets/images/footer icons/linked in.png" alt="linked in">
                    <img src="../../assets/images/footer icons/pintrest.png" alt="pintrest">
                    <img src="../../assets/images/footer icons/x-new-twitter.png" alt="twitter">
                    <img src="../../assets/images/footer icons/youtube.png" alt="youtube">
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex tech1">
                            <p>We Accept: &nbsp;</p>
                            <img src="../../assets/images/footer icons/visa.svg.png" alt="visa" class="payment-img">
                            <img src="../../assets/images/footer icons/master_card.svg.png" alt="master_card"
                                class="payment-img">
                            <img src="../../assets/images/footer icons/paytm.svg.png" alt="paytm" class="payment-img">
                            <img src="../../assets/images/footer icons/rupay.svg.png" alt="rupay" class="payment-img">
                            <img src="../../assets/images/footer icons/cod.svg.png" alt="cod" class="payment-img">
                            <img src="../../assets/images/footer icons/paypal.svg.png" alt="paypal" class="payment-img">
                            <img src="../../assets/images/footer icons/american_express.svg.png" alt="american_express"
                                class="payment-img">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <p class="tech2">2023-2024 bluejewellery. Design by: X-YUG Technologies</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!---Footer section end--->