<!---Navbar section start--->
<section>
    <div class="main-bg">
        <div class="container">
            <nav class="navbar navbar-expand-lg nav-bg p-0">
                <a class="navbar-brand" href="/">
                    <p class="logo-name">
                        <img src="../../assets/images/logo.png" class="logo" alt="logo">
                        Glory
                    </p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="home-box">
                <p class="get">GET SPECIAL PRICE THIS WEEK</p>
                <p class="Diamond">Diamond Jewellery Collection</p>
                <pre class="allthe">
                    All the Lorem Ipsum generators on the Internet tend to repeat
                    predefined chunks as necessary, making this the first true 
                    generator on the Internet. It uses a dictionary of over
                    200 Latin words.
                </pre>
                <button class="btn">
                    <p class="shop">ShopNow</p>
                </button>
            </div>
        </div>
    </div>
</section>
<!---Navbar section end--->

<!---About us section start--->
<section class="space" id="Aboutus">
    <div class="container-fluid main">
        <div class="curves-container">
            <div class="curve1"></div>
            <div class="curve2"></div>
            </div>

<div class="container-fluid">
    <div class="about-box">
        <p class="about">About Us</p>
        <pre class="all">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
            making this the first true generator on the Internet. It uses a dictionary of over
            200 Latin words.
        </pre>
    
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-md-6 g-1 ">
                <img src="../../assets/images/about us/double rings.png" alt="double ring" class="about-img1">
            </div>
    
            <div class="col-lg-6 col-md-6 g-1">
                <img src="../../assets/images/about us/chain.png" alt="chain" class="about-img2">
            </div>
        </div>
        <pre class="WorldFinest mb-5">
            World Finest Jewellery offers an exquisite collection of meticulously crafted pieces that embody elegance and 
            sophistication. Each item is designed with a commitment to quality and attention to detail, ensuring that every piece is a
            timeless addition to your collection. Whether you're looking for a dazzling diamond ring, a sophisticated necklace, or a pair 
            of elegant earrings, our collection caters to those with the most discerning tastes.
        </pre>
        <pre class="our mb-5">
            Our artisans use only the finest materials, combining traditional craftsmanship with contemporary design to
            create jewellery that not only enhances your beauty but also tells a story of heritage and luxury.
        </pre>
    </div>
</div>
</div>
</section>
<!---About us section end--->

<!---Jewellery Collection section start--->
<section class="space mt-5 mb-5" id="Products">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6 g-1">
                <p class="jc">Jewellery Collection</p>
                <pre class="from">
                    From The Latest To This Season’s Greatest,
                     Shop Our Thoughtfully Curated
                      Collections.
                </pre>
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-lena-shekhovtsova-4019460 1.png"
                    class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-din-14882420 (1) 1.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-ayush-phillip-2732096 1.png"
                    class="jewellery">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-2876035.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-karolina-grabowska-4959939.png"
                    class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-ron-lach-10120273.png" class="jewellery">
            </div>
            <div class="col-lg-3 col-md-6 g-1">
                <img src="../../assets/images/Jewellery Collection/pexels-cottonbro-studio-9421333.png"
                    class="jewellery">
            </div>
        </div>
    </div>
</section>
<!---Jewellery Collection section end--->

<!---Contact Us section start--->
<section class="space" id="contact">
    <div class="container con-box">
        <p class="contact">Contact Us</p>
        <pre class="design">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a captivating 
            tale- Rose, is one of India’s leading luxury jewellery brands.</pre>
    </div>

    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-lg-3 col-md-4 text-center bb black-box">
                <a href="tel:7645486421">
                    <img src="../../assets/images/contact icons/phone-call (2).png" class="contact-icons" alt="phone">
                    <p class="number">+91 7645486421</p>
                </a>
                <p class="Support">Support team will be available from 9:00 AM till 7:00 PM</p>
                <p class="quick">Connect with our delight team over a quick phone call</p>
            </div>
            <div class="col-lg-3 col-md-4 text-center bb black-box">
                <a href="mailto:Glory@gmail.com">
                <img src="../../assets/images/contact icons/envelope (1).png" class="contact-icons" alt="envelope">
                <p class="number">Glory@gmail.com</p>
                </a>
                <pre class="quick">
                    Your question or feedback are always 
                    welcome at bluejewellery.com</pre>
            </div>
            <div class="col-lg-3 col-md-4 text-center bb black-box">
                <a href="https://api.whatsapp.com/send?phone=7645486421">
                <img src="../../assets/images/contact icons/whatsapp.png" class="contact-icons" alt="whatsapp">
                <p class="number">Whatsapp Us</p>
                </a>
                <p class="quick">Our 24x7 shopping assistant is a text away</p>
            </div>
            <div class="col-lg-3 col-md-4 text-center bb black-box">
            <a href="https://www.google.com/maps/place/Candere+By+Kalyan+Jewellers/@19.1896015,72.8390883,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b6e31486ae1b:0x9130bb5e308a21d4!8m2!3d19.1895965!4d72.8416632!16s%2Fg%2F12hn7nbtb?entry=ttu" target="_blank">
                <img src="../../assets/images/contact icons//marker.png" class="contact-icons" alt="marker">
                <p class="number">Address</p>
                <p class="quick">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, Malad West, Mumbai
                    400064, India.</p>
            </a>
            </div>
        </div>
    </div>
</section>
<!---Contact Us section end--->

<!---footer section start--->
<section>
    <footer class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2">
                    <p class="footer-name">
                        <img src="../../assets/images/logo.png" class="logo" alt="logo">
                        Glory
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 mt-2 footer-main text-center">
                    <a href="/"><p class="footer-main">Home</p></a>
                    <a href="#Products"><p class="footer-main">Products</p></a>
                    <a href="#Aboutus"><p class="footer-main">About Us</p></a>
                    <a href="#contact"><p class="footer-main">Contact Us</p></a>
                </div>
                <div class="col-lg-1 gap"></div>
                <div class="col-lg-4 col-md-5 mt-2 footer-icons justify-content-end">
                    <p class="footer-main">Follow Us: &nbsp;</p>
                    <a href="https://www.facebook.com/matrika.goldsikka">
                        <img src="../../assets/images/footer icons/facebook.png" alt="facebook" class="footer-icons">
                    </a>
            
                    <a href="https://www.instagram.com/matrika_goldsikka/">
                        <img src="../../assets/images/footer icons/instagram.png" alt="instagram" class="footer-icons">
                    </a>
            
                    <a href="https://x.com/i/flow/login?redirect_after_login=%2Fmatrika_gs">
                      <img src="../../assets/images/footer icons/x-new-twitter.png" alt="twitter" class="footer-icons">
                  </a> 
            
                  <a href="https://www.youtube.com/@matrika_goldsikka">
                    <img src="../../assets/images/footer icons/youtube.png" alt="youtube" class="footer-icons">   
                </a>
            
                    <a href="https://www.linkedin.com/company/goldsikkalimited/">
                        <img src="../../assets/images/footer icons/linked in.png" alt="linked in" class="footer-icons">
                    </a>
              
                    <a href="https://in.pinterest.com/matrika_goldsikka/">
                        <img src="../../assets/images/footer icons/pintrest.png" alt="pintrest" class="footer-icons">
                    </a>  
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex tech1">
                            <p class="footer-main">We Accept: &nbsp;</p>
                            <img src="../../assets/images/footer icons/visa.svg.png" alt="visa" class="payment-img">
                            <img src="../../assets/images/footer icons/master_card.svg.png" alt="master_card" class="payment-img">
                            <img src="../../assets/images/footer icons/paytm.svg.png" alt="paytm" class="payment-img">
                            <img src="../../assets/images/footer icons/rupay.svg.png" alt="rupay" class="payment-img">
                            <img src="../../assets/images/footer icons/cod.svg.png" alt="cod" class="payment-img">
                            <img src="../../assets/images/footer icons/paypal.svg.png" alt="paypal" class="payment-img">
                            <img src="../../assets/images/footer icons/american_express.svg.png" alt="american_express" class="payment-img">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <p class="tech2">2023-2024 bluejewellery. Design by: X-YUG Technologies</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!---Footer section end--->